body {
  margin: 0;
  font-family: Arial;
  background: #0b1220;
  color: white;
}

.app {
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  color: #94a3b8;
}

.card {
  background: #111a2e;
  padding: 15px;
  margin-top: 15px;
  border-radius: 12px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 8px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #22c55e;
  color: white;
  margin-top: 5px;
}

ul {
  padding-left: 20px;
}